@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes loading-animation {
    0% { background-position: 0% 50%, 50% 50%, 100% 50%; opacity: 1; }
    50% { background-position: 25% 50%, 75% 50%, 125% 50%; opacity: 0.5; }
    100% { background-position: 0% 50%, 50% 50%, 100% 50%; opacity: 1; }
  }  

.bubble.user {
    border-radius: 20px 20px 0 20px;
    background-color: rgb(95, 146, 176);
    margin-left: auto;
}

.bubble{
    border-radius: 20px 20px 20px 0px;
    background-color: #e09595;
}